CONFIG_ARM=y
CONFIG_TARGET_AST_G4=y
CONFIG_ASPEED_NET_PHY=y
CONFIG_SYS_PROMPT="ast# "
CONFIG_CMD_BOOTEFI=n
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_EFI_LOADER=n
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_LIBFDT=y
CONFIG_SPI_FLASH=y
CONFIG_SYS_NS16550=y
