CONFIG_PPC=y
CONFIG_47x=y
CONFIG_SOC_IBM_FSP2=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_DIAG=y
# CONFIG_PARTITIONS is not set
# CONFIG_NET_TFTP_VARS is not set
CONFIG_NETDEVICES=y
# CONFIG_PCI is not set
CONFIG_SYS_NS16550=y
