menu "ppc4xx CPU"
	depends on 47x

config SYS_CPU
	default "47x"

choice
	prompt "Target select"
	optional

config SOC_IBM_FSP2
	bool "support fsp2"
	select PANIC_HANG
	select IBM_EMAC4
	select BOARD_EARLY_INIT_F
	select OF_LIBFDT
	select OF_BOARD_SETUP
	select CMD_FDT
	select UART750

endchoice

config SYS_PERIPHERAL_BASE
	bool

config SYS_EXT_SERIAL_CLOCK
	int "clock"
	default 20833333

config SDRAM_PPC4xx_IBM_DDR
	bool

config SDRAM_PPC4xx_IBM_DDR2
	bool

source "board/ibm/fsp2/Kconfig"

endmenu
